<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tinman.sharedservices.wms.provider.dao.WechatmessageatMapper">
  <resultMap id="BaseResultMap" type="cn.tinman.sharedservices.wms.provider.model.po.Wechatmessageat">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="message_id" jdbcType="BIGINT" property="messageId" />
    <result column="wxuid_at" jdbcType="BIGINT" property="wxuidAt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `message_id`, `wxuid_at`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_message_at`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatmessageat">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_message_at` (`message_id`, `wxuid_at`)
    values (#{messageId,jdbcType=BIGINT}, #{wxuidAt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatmessageat">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_message_at`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        `message_id`,
      </if>
      <if test="wxuidAt != null">
        `wxuid_at`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messageId != null">
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="wxuidAt != null">
        #{wxuidAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatmessageat">
    update `tab_wechat_message_at`
    <set>
      <if test="messageId != null">
        `message_id` = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="wxuidAt != null">
        `wxuid_at` = #{wxuidAt,jdbcType=BIGINT},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatmessageat">
    update `tab_wechat_message_at`
    set `message_id` = #{messageId,jdbcType=BIGINT},
      `wxuid_at` = #{wxuidAt,jdbcType=BIGINT}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>