<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tinman.sharedservices.wms.provider.dao.WechatuserMapper">
  <resultMap id="BaseResultMap" type="cn.tinman.sharedservices.wms.provider.model.po.Wechatuser">
    <id column="wxuid" jdbcType="BIGINT" property="wxuid" />
    <result column="wxid" jdbcType="VARCHAR" property="wxid" />
    <result column="wxid_alias" jdbcType="VARCHAR" property="wxidAlias" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `wxuid`, `wxid`, `wxid_alias`, `nickname`, `head_img_url`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_user`
    where `wxuid` = #{wxuid,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatuser">
    insert into `tab_wechat_user` (`wxuid`, `wxid`, `wxid_alias`, 
      `nickname`, `head_img_url`)
    values (#{wxuid,jdbcType=BIGINT}, #{wxid,jdbcType=VARCHAR}, #{wxidAlias,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{headImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatuser">
    insert into `tab_wechat_user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wxuid != null">
        `wxuid`,
      </if>
      <if test="wxid != null">
        `wxid`,
      </if>
      <if test="wxidAlias != null">
        `wxid_alias`,
      </if>
      <if test="nickname != null">
        `nickname`,
      </if>
      <if test="headImgUrl != null">
        `head_img_url`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wxuid != null">
        #{wxuid,jdbcType=BIGINT},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="wxidAlias != null">
        #{wxidAlias,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatuser">
    update `tab_wechat_user`
    <set>
      <if test="wxid != null">
        `wxid` = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="wxidAlias != null">
        `wxid_alias` = #{wxidAlias,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        `nickname` = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        `head_img_url` = #{headImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where `wxuid` = #{wxuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tinman.sharedservices.wms.provider.model.po.Wechatuser">
    update `tab_wechat_user`
    set `wxid` = #{wxid,jdbcType=VARCHAR},
      `wxid_alias` = #{wxidAlias,jdbcType=VARCHAR},
      `nickname` = #{nickname,jdbcType=VARCHAR},
      `head_img_url` = #{headImgUrl,jdbcType=VARCHAR}
    where `wxuid` = #{wxuid,jdbcType=BIGINT}
  </update>
</mapper>