<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.AffiliateruleMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Affiliaterule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="point_type" jdbcType="TINYINT" property="pointType" />
    <result column="inviter_point_count" jdbcType="INTEGER" property="inviterPointCount" />
    <result column="invitee_point_count" jdbcType="INTEGER" property="inviteePointCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `key`, `point_type`, `inviter_point_count`, `invitee_point_count`, `create_time`, 
    `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_affiliate_rule`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Affiliaterule">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_affiliate_rule` (`key`, `point_type`, `inviter_point_count`, 
      `invitee_point_count`)
    values (#{key,jdbcType=VARCHAR}, #{pointType,jdbcType=TINYINT}, #{inviterPointCount,jdbcType=INTEGER}, 
      #{inviteePointCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Affiliaterule">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_affiliate_rule`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `key`,
      </if>
      <if test="pointType != null">
        `point_type`,
      </if>
      <if test="inviterPointCount != null">
        `inviter_point_count`,
      </if>
      <if test="inviteePointCount != null">
        `invitee_point_count`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null">
        #{pointType,jdbcType=TINYINT},
      </if>
      <if test="inviterPointCount != null">
        #{inviterPointCount,jdbcType=INTEGER},
      </if>
      <if test="inviteePointCount != null">
        #{inviteePointCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Affiliaterule">
    update `tab_affiliate_rule`
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="pointType != null">
        `point_type` = #{pointType,jdbcType=TINYINT},
      </if>
      <if test="inviterPointCount != null">
        `inviter_point_count` = #{inviterPointCount,jdbcType=INTEGER},
      </if>
      <if test="inviteePointCount != null">
        `invitee_point_count` = #{inviteePointCount,jdbcType=INTEGER},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Affiliaterule">
    update `tab_affiliate_rule`
    set `key` = #{key,jdbcType=VARCHAR},
      `point_type` = #{pointType,jdbcType=TINYINT},
      `inviter_point_count` = #{inviterPointCount,jdbcType=INTEGER},
      `invitee_point_count` = #{inviteePointCount,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>