<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ClassscheduleitemMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classscheduleitem">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="lesson_id" jdbcType="INTEGER" property="lessonId" />
    <result column="start_timestamp" jdbcType="TIMESTAMP" property="startTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `class_id`, `lesson_id`, `start_timestamp`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_class_schedule_item`
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classscheduleitem">
    insert into `tab_class_schedule_item` (`seq_id`, `class_id`, `lesson_id`, 
      `start_timestamp`)
    values (#{seqId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, #{lessonId,jdbcType=INTEGER}, 
      #{startTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classscheduleitem">
    insert into `tab_class_schedule_item`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="classId != null">
        `class_id`,
      </if>
      <if test="lessonId != null">
        `lesson_id`,
      </if>
      <if test="startTimestamp != null">
        `start_timestamp`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="startTimestamp != null">
        #{startTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classscheduleitem">
    update `tab_class_schedule_item`
    <set>
      <if test="classId != null">
        `class_id` = #{classId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        `lesson_id` = #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="startTimestamp != null">
        `start_timestamp` = #{startTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classscheduleitem">
    update `tab_class_schedule_item`
    set `class_id` = #{classId,jdbcType=INTEGER},
      `lesson_id` = #{lessonId,jdbcType=INTEGER},
      `start_timestamp` = #{startTimestamp,jdbcType=TIMESTAMP}
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>