<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ClassteacherMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classteacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="receive_num" jdbcType="INTEGER" property="receiveNum" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `class_id`, `teacher_id`, `limit_num`, `receive_num`, `show_order`, `status`, 
    `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_r_class_teacher`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classteacher">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_r_class_teacher` (`class_id`, `teacher_id`, `limit_num`, 
      `receive_num`, `show_order`, `status`
      )
    values (#{classId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, #{limitNum,jdbcType=INTEGER}, 
      #{receiveNum,jdbcType=INTEGER}, #{showOrder,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classteacher">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_r_class_teacher`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        `class_id`,
      </if>
      <if test="teacherId != null">
        `teacher_id`,
      </if>
      <if test="limitNum != null">
        `limit_num`,
      </if>
      <if test="receiveNum != null">
        `receive_num`,
      </if>
      <if test="showOrder != null">
        `show_order`,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="limitNum != null">
        #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="receiveNum != null">
        #{receiveNum,jdbcType=INTEGER},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classteacher">
    update `tab_r_class_teacher`
    <set>
      <if test="classId != null">
        `class_id` = #{classId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null">
        `teacher_id` = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="limitNum != null">
        `limit_num` = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="receiveNum != null">
        `receive_num` = #{receiveNum,jdbcType=INTEGER},
      </if>
      <if test="showOrder != null">
        `show_order` = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classteacher">
    update `tab_r_class_teacher`
    set `class_id` = #{classId,jdbcType=INTEGER},
      `teacher_id` = #{teacherId,jdbcType=INTEGER},
      `limit_num` = #{limitNum,jdbcType=INTEGER},
      `receive_num` = #{receiveNum,jdbcType=INTEGER},
      `show_order` = #{showOrder,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>