<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ClassscheduleMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classschedule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `class_id`, `start_date`, `end_date`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_class_schedule`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classschedule">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_class_schedule` (`class_id`, `start_date`, `end_date`
      )
    values (#{classId,jdbcType=INTEGER}, #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classschedule">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_class_schedule`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        `class_id`,
      </if>
      <if test="startDate != null">
        `start_date`,
      </if>
      <if test="endDate != null">
        `end_date`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classschedule">
    update `tab_class_schedule`
    <set>
      <if test="classId != null">
        `class_id` = #{classId,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        `start_date` = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null">
        `end_date` = #{endDate,jdbcType=DATE},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Classschedule">
    update `tab_class_schedule`
    set `class_id` = #{classId,jdbcType=INTEGER},
      `start_date` = #{startDate,jdbcType=DATE},
      `end_date` = #{endDate,jdbcType=DATE}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>