<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.CouponsendMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponsend">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_type" jdbcType="TINYINT" property="sendType" />
    <result column="send_sub_type" jdbcType="TINYINT" property="sendSubType" />
    <result column="send_target_id" jdbcType="VARCHAR" property="sendTargetId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coupon_provider" jdbcType="TINYINT" property="couponProvider" />
    <result column="coupon_mch_id" jdbcType="VARCHAR" property="couponMchId" />
    <result column="coupon_stock_id" jdbcType="VARCHAR" property="couponStockId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upate_time" jdbcType="TIMESTAMP" property="upateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `send_type`, `send_sub_type`, `send_target_id`, `user_id`, `coupon_provider`, 
    `coupon_mch_id`, `coupon_stock_id`, `create_time`, `upate_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_coupon_send`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponsend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_coupon_send` (`send_type`, `send_sub_type`, `send_target_id`, 
      `user_id`, `coupon_provider`, `coupon_mch_id`, 
      `coupon_stock_id`, `upate_time`)
    values (#{sendType,jdbcType=TINYINT}, #{sendSubType,jdbcType=TINYINT}, #{sendTargetId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{couponProvider,jdbcType=TINYINT}, #{couponMchId,jdbcType=VARCHAR}, 
      #{couponStockId,jdbcType=VARCHAR}, #{upateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponsend">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_coupon_send`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendType != null">
        `send_type`,
      </if>
      <if test="sendSubType != null">
        `send_sub_type`,
      </if>
      <if test="sendTargetId != null">
        `send_target_id`,
      </if>
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="couponProvider != null">
        `coupon_provider`,
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id`,
      </if>
      <if test="couponStockId != null">
        `coupon_stock_id`,
      </if>
      <if test="upateTime != null">
        `upate_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendType != null">
        #{sendType,jdbcType=TINYINT},
      </if>
      <if test="sendSubType != null">
        #{sendSubType,jdbcType=TINYINT},
      </if>
      <if test="sendTargetId != null">
        #{sendTargetId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponProvider != null">
        #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponStockId != null">
        #{couponStockId,jdbcType=VARCHAR},
      </if>
      <if test="upateTime != null">
        #{upateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponsend">
    update `tab_coupon_send`
    <set>
      <if test="sendType != null">
        `send_type` = #{sendType,jdbcType=TINYINT},
      </if>
      <if test="sendSubType != null">
        `send_sub_type` = #{sendSubType,jdbcType=TINYINT},
      </if>
      <if test="sendTargetId != null">
        `send_target_id` = #{sendTargetId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponProvider != null">
        `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponStockId != null">
        `coupon_stock_id` = #{couponStockId,jdbcType=VARCHAR},
      </if>
      <if test="upateTime != null">
        `upate_time` = #{upateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponsend">
    update `tab_coupon_send`
    set `send_type` = #{sendType,jdbcType=TINYINT},
      `send_sub_type` = #{sendSubType,jdbcType=TINYINT},
      `send_target_id` = #{sendTargetId,jdbcType=VARCHAR},
      `user_id` = #{userId,jdbcType=INTEGER},
      `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      `coupon_stock_id` = #{couponStockId,jdbcType=VARCHAR},
      `upate_time` = #{upateTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>