<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.CouponinfoMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponinfo">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="provider" jdbcType="TINYINT" property="provider" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="use_threshold" jdbcType="INTEGER" property="useThreshold" />
    <result column="stock_status" jdbcType="TINYINT" property="stockStatus" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="has_send_count" jdbcType="INTEGER" property="hasSendCount" />
    <result column="max_quota" jdbcType="INTEGER" property="maxQuota" />
    <result column="effective_begin_time" jdbcType="TIMESTAMP" property="effectiveBeginTime" />
    <result column="effective_end_time" jdbcType="TIMESTAMP" property="effectiveEndTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `key`, `provider`, `mch_id`, `stock_id`, `name`, `value`, `use_threshold`, 
    `stock_status`, `total_count`, `has_send_count`, `max_quota`, `effective_begin_time`, 
    `effective_end_time`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_coupon_info`
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponinfo">
    insert into `tab_coupon_info` (`seq_id`, `key`, `provider`, 
      `mch_id`, `stock_id`, `name`, 
      `value`, `use_threshold`, `stock_status`, 
      `total_count`, `has_send_count`, `max_quota`, 
      `effective_begin_time`, `effective_end_time`
      )
    values (#{seqId,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{provider,jdbcType=TINYINT}, 
      #{mchId,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{value,jdbcType=INTEGER}, #{useThreshold,jdbcType=INTEGER}, #{stockStatus,jdbcType=TINYINT}, 
      #{totalCount,jdbcType=INTEGER}, #{hasSendCount,jdbcType=INTEGER}, #{maxQuota,jdbcType=INTEGER}, 
      #{effectiveBeginTime,jdbcType=TIMESTAMP}, #{effectiveEndTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponinfo">
    insert into `tab_coupon_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="key != null">
        `key`,
      </if>
      <if test="provider != null">
        `provider`,
      </if>
      <if test="mchId != null">
        `mch_id`,
      </if>
      <if test="stockId != null">
        `stock_id`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="useThreshold != null">
        `use_threshold`,
      </if>
      <if test="stockStatus != null">
        `stock_status`,
      </if>
      <if test="totalCount != null">
        `total_count`,
      </if>
      <if test="hasSendCount != null">
        `has_send_count`,
      </if>
      <if test="maxQuota != null">
        `max_quota`,
      </if>
      <if test="effectiveBeginTime != null">
        `effective_begin_time`,
      </if>
      <if test="effectiveEndTime != null">
        `effective_end_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=INTEGER},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        #{provider,jdbcType=TINYINT},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="useThreshold != null">
        #{useThreshold,jdbcType=INTEGER},
      </if>
      <if test="stockStatus != null">
        #{stockStatus,jdbcType=TINYINT},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="hasSendCount != null">
        #{hasSendCount,jdbcType=INTEGER},
      </if>
      <if test="maxQuota != null">
        #{maxQuota,jdbcType=INTEGER},
      </if>
      <if test="effectiveBeginTime != null">
        #{effectiveBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveEndTime != null">
        #{effectiveEndTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponinfo">
    update `tab_coupon_info`
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        `provider` = #{provider,jdbcType=TINYINT},
      </if>
      <if test="mchId != null">
        `mch_id` = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        `stock_id` = #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=INTEGER},
      </if>
      <if test="useThreshold != null">
        `use_threshold` = #{useThreshold,jdbcType=INTEGER},
      </if>
      <if test="stockStatus != null">
        `stock_status` = #{stockStatus,jdbcType=TINYINT},
      </if>
      <if test="totalCount != null">
        `total_count` = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="hasSendCount != null">
        `has_send_count` = #{hasSendCount,jdbcType=INTEGER},
      </if>
      <if test="maxQuota != null">
        `max_quota` = #{maxQuota,jdbcType=INTEGER},
      </if>
      <if test="effectiveBeginTime != null">
        `effective_begin_time` = #{effectiveBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveEndTime != null">
        `effective_end_time` = #{effectiveEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Couponinfo">
    update `tab_coupon_info`
    set `key` = #{key,jdbcType=VARCHAR},
      `provider` = #{provider,jdbcType=TINYINT},
      `mch_id` = #{mchId,jdbcType=VARCHAR},
      `stock_id` = #{stockId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=INTEGER},
      `use_threshold` = #{useThreshold,jdbcType=INTEGER},
      `stock_status` = #{stockStatus,jdbcType=TINYINT},
      `total_count` = #{totalCount,jdbcType=INTEGER},
      `has_send_count` = #{hasSendCount,jdbcType=INTEGER},
      `max_quota` = #{maxQuota,jdbcType=INTEGER},
      `effective_begin_time` = #{effectiveBeginTime,jdbcType=TIMESTAMP},
      `effective_end_time` = #{effectiveEndTime,jdbcType=TIMESTAMP}
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>