<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_experience" jdbcType="TINYINT" property="isExperience" />
    <result column="book_count" jdbcType="INTEGER" property="bookCount" />
    <result column="is_part" jdbcType="TINYINT" property="isPart" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="entrance_image" jdbcType="VARCHAR" property="entranceImage" />
    <result column="entrance_image_small" jdbcType="VARCHAR" property="entranceImageSmall" />
    <result column="introduce_image" jdbcType="VARCHAR" property="introduceImage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `key`, `name`, `is_experience`, `book_count`, `is_part`, `brief`, `entrance_image`, 
    `entrance_image_small`, `introduce_image`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_course`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_course` (`key`, `name`, `is_experience`, 
      `book_count`, `is_part`, `brief`, 
      `entrance_image`, `entrance_image_small`, `introduce_image`
      )
    values (#{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{isExperience,jdbcType=TINYINT}, 
      #{bookCount,jdbcType=INTEGER}, #{isPart,jdbcType=TINYINT}, #{brief,jdbcType=VARCHAR}, 
      #{entranceImage,jdbcType=VARCHAR}, #{entranceImageSmall,jdbcType=VARCHAR}, #{introduceImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Course">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_course`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `key`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="isExperience != null">
        `is_experience`,
      </if>
      <if test="bookCount != null">
        `book_count`,
      </if>
      <if test="isPart != null">
        `is_part`,
      </if>
      <if test="brief != null">
        `brief`,
      </if>
      <if test="entranceImage != null">
        `entrance_image`,
      </if>
      <if test="entranceImageSmall != null">
        `entrance_image_small`,
      </if>
      <if test="introduceImage != null">
        `introduce_image`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isExperience != null">
        #{isExperience,jdbcType=TINYINT},
      </if>
      <if test="bookCount != null">
        #{bookCount,jdbcType=INTEGER},
      </if>
      <if test="isPart != null">
        #{isPart,jdbcType=TINYINT},
      </if>
      <if test="brief != null">
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="entranceImage != null">
        #{entranceImage,jdbcType=VARCHAR},
      </if>
      <if test="entranceImageSmall != null">
        #{entranceImageSmall,jdbcType=VARCHAR},
      </if>
      <if test="introduceImage != null">
        #{introduceImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Course">
    update `tab_course`
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isExperience != null">
        `is_experience` = #{isExperience,jdbcType=TINYINT},
      </if>
      <if test="bookCount != null">
        `book_count` = #{bookCount,jdbcType=INTEGER},
      </if>
      <if test="isPart != null">
        `is_part` = #{isPart,jdbcType=TINYINT},
      </if>
      <if test="brief != null">
        `brief` = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="entranceImage != null">
        `entrance_image` = #{entranceImage,jdbcType=VARCHAR},
      </if>
      <if test="entranceImageSmall != null">
        `entrance_image_small` = #{entranceImageSmall,jdbcType=VARCHAR},
      </if>
      <if test="introduceImage != null">
        `introduce_image` = #{introduceImage,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Course">
    update `tab_course`
    set `key` = #{key,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `is_experience` = #{isExperience,jdbcType=TINYINT},
      `book_count` = #{bookCount,jdbcType=INTEGER},
      `is_part` = #{isPart,jdbcType=TINYINT},
      `brief` = #{brief,jdbcType=VARCHAR},
      `entrance_image` = #{entranceImage,jdbcType=VARCHAR},
      `entrance_image_small` = #{entranceImageSmall,jdbcType=VARCHAR},
      `introduce_image` = #{introduceImage,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>