<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.LessonQuestionAnswerDoMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDo">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="lesson_key" jdbcType="VARCHAR" property="lessonKey" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="page_id" jdbcType="INTEGER" property="pageId" />
    <result column="answer_type" jdbcType="TINYINT" property="answerType" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    seq_id, lesson_key, step_id, page_id, answer_type, answer
  </sql>
  <select id="selectByExample" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_lesson_question_anwser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_lesson_question_anwser
    where seq_id = #{seqId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tab_lesson_question_anwser
    where seq_id = #{seqId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDoExample">
    delete from tab_lesson_question_anwser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDo">
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tab_lesson_question_anwser (lesson_key, step_id, page_id, 
      answer_type, answer)
    values (#{lessonKey,jdbcType=VARCHAR}, #{stepId,jdbcType=INTEGER}, #{pageId,jdbcType=INTEGER}, 
      #{answerType,jdbcType=TINYINT}, #{answer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDo">
    <selectKey keyProperty="seqId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tab_lesson_question_anwser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lessonKey != null">
        lesson_key,
      </if>
      <if test="stepId != null">
        step_id,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="answerType != null">
        answer_type,
      </if>
      <if test="answer != null">
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lessonKey != null">
        #{lessonKey,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="answerType != null">
        #{answerType,jdbcType=TINYINT},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDoExample" resultType="java.lang.Long">
    select count(*) from tab_lesson_question_anwser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_lesson_question_anwser
    <set>
      <if test="record.seqId != null">
        seq_id = #{record.seqId,jdbcType=INTEGER},
      </if>
      <if test="record.lessonKey != null">
        lesson_key = #{record.lessonKey,jdbcType=VARCHAR},
      </if>
      <if test="record.stepId != null">
        step_id = #{record.stepId,jdbcType=INTEGER},
      </if>
      <if test="record.pageId != null">
        page_id = #{record.pageId,jdbcType=INTEGER},
      </if>
      <if test="record.answerType != null">
        answer_type = #{record.answerType,jdbcType=TINYINT},
      </if>
      <if test="record.answer != null">
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_lesson_question_anwser
    set seq_id = #{record.seqId,jdbcType=INTEGER},
      lesson_key = #{record.lessonKey,jdbcType=VARCHAR},
      step_id = #{record.stepId,jdbcType=INTEGER},
      page_id = #{record.pageId,jdbcType=INTEGER},
      answer_type = #{record.answerType,jdbcType=TINYINT},
      answer = #{record.answer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDo">
    update tab_lesson_question_anwser
    <set>
      <if test="lessonKey != null">
        lesson_key = #{lessonKey,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        step_id = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="answerType != null">
        answer_type = #{answerType,jdbcType=TINYINT},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.LessonQuestionAnswerDo">
    update tab_lesson_question_anwser
    set lesson_key = #{lessonKey,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      page_id = #{pageId,jdbcType=INTEGER},
      answer_type = #{answerType,jdbcType=TINYINT},
      answer = #{answer,jdbcType=VARCHAR}
    where seq_id = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>