<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.LessonquestionanwserMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Lessonquestionanwser">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="lesson_key" jdbcType="VARCHAR" property="lessonKey" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="page_id" jdbcType="INTEGER" property="pageId" />
    <result column="answer_type" jdbcType="TINYINT" property="answerType" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `lesson_key`, `step_id`, `page_id`, `answer_type`, `answer`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_lesson_question_anwser`
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Lessonquestionanwser">
    insert into `tab_lesson_question_anwser` (`seq_id`, `lesson_key`, `step_id`, 
      `page_id`, `answer_type`, `answer`
      )
    values (#{seqId,jdbcType=INTEGER}, #{lessonKey,jdbcType=VARCHAR}, #{stepId,jdbcType=INTEGER}, 
      #{pageId,jdbcType=INTEGER}, #{answerType,jdbcType=TINYINT}, #{answer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Lessonquestionanwser">
    insert into `tab_lesson_question_anwser`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="lessonKey != null">
        `lesson_key`,
      </if>
      <if test="stepId != null">
        `step_id`,
      </if>
      <if test="pageId != null">
        `page_id`,
      </if>
      <if test="answerType != null">
        `answer_type`,
      </if>
      <if test="answer != null">
        `answer`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=INTEGER},
      </if>
      <if test="lessonKey != null">
        #{lessonKey,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="answerType != null">
        #{answerType,jdbcType=TINYINT},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Lessonquestionanwser">
    update `tab_lesson_question_anwser`
    <set>
      <if test="lessonKey != null">
        `lesson_key` = #{lessonKey,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        `step_id` = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        `page_id` = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="answerType != null">
        `answer_type` = #{answerType,jdbcType=TINYINT},
      </if>
      <if test="answer != null">
        `answer` = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Lessonquestionanwser">
    update `tab_lesson_question_anwser`
    set `lesson_key` = #{lessonKey,jdbcType=VARCHAR},
      `step_id` = #{stepId,jdbcType=INTEGER},
      `page_id` = #{pageId,jdbcType=INTEGER},
      `answer_type` = #{answerType,jdbcType=TINYINT},
      `answer` = #{answer,jdbcType=VARCHAR}
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>