<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.OrdercouponMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ordercoupon">
    <id column="seq_id" jdbcType="BIGINT" property="seqId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="coupon_provider" jdbcType="TINYINT" property="couponProvider" />
    <result column="coupon_mch_id" jdbcType="VARCHAR" property="couponMchId" />
    <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
    <result column="coupon_settlement_type" jdbcType="TINYINT" property="couponSettlementType" />
    <result column="coupon_fee" jdbcType="INTEGER" property="couponFee" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `order_no`, `coupon_provider`, `coupon_mch_id`, `coupon_id`, `coupon_settlement_type`, 
    `coupon_fee`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_r_order_coupon`
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ordercoupon">
    insert into `tab_r_order_coupon` (`seq_id`, `order_no`, `coupon_provider`, 
      `coupon_mch_id`, `coupon_id`, `coupon_settlement_type`, 
      `coupon_fee`)
    values (#{seqId,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{couponProvider,jdbcType=TINYINT}, 
      #{couponMchId,jdbcType=VARCHAR}, #{couponId,jdbcType=VARCHAR}, #{couponSettlementType,jdbcType=TINYINT}, 
      #{couponFee,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ordercoupon">
    insert into `tab_r_order_coupon`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="orderNo != null">
        `order_no`,
      </if>
      <if test="couponProvider != null">
        `coupon_provider`,
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id`,
      </if>
      <if test="couponId != null">
        `coupon_id`,
      </if>
      <if test="couponSettlementType != null">
        `coupon_settlement_type`,
      </if>
      <if test="couponFee != null">
        `coupon_fee`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponProvider != null">
        #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="couponSettlementType != null">
        #{couponSettlementType,jdbcType=TINYINT},
      </if>
      <if test="couponFee != null">
        #{couponFee,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ordercoupon">
    update `tab_r_order_coupon`
    <set>
      <if test="orderNo != null">
        `order_no` = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponProvider != null">
        `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null">
        `coupon_id` = #{couponId,jdbcType=VARCHAR},
      </if>
      <if test="couponSettlementType != null">
        `coupon_settlement_type` = #{couponSettlementType,jdbcType=TINYINT},
      </if>
      <if test="couponFee != null">
        `coupon_fee` = #{couponFee,jdbcType=INTEGER},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ordercoupon">
    update `tab_r_order_coupon`
    set `order_no` = #{orderNo,jdbcType=VARCHAR},
      `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      `coupon_id` = #{couponId,jdbcType=VARCHAR},
      `coupon_settlement_type` = #{couponSettlementType,jdbcType=TINYINT},
      `coupon_fee` = #{couponFee,jdbcType=INTEGER}
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>