<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.OrderpayyouzanorderexchangeMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="youzan_order_tid" jdbcType="VARCHAR" property="youzanOrderTid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    <result column="youzan_order_detail" jdbcType="LONGVARCHAR" property="youzanOrderDetail" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `order_no`, `youzan_order_tid`, `create_time`, `update_time`
  </sql>
  <sql id="Blob_Column_List">
    `youzan_order_detail`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from `tab_r_order_pay_youzan_order_exchange`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_r_order_pay_youzan_order_exchange` (`order_no`, `youzan_order_tid`, `youzan_order_detail`
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{youzanOrderTid,jdbcType=VARCHAR}, #{youzanOrderDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_r_order_pay_youzan_order_exchange`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        `order_no`,
      </if>
      <if test="youzanOrderTid != null">
        `youzan_order_tid`,
      </if>
      <if test="youzanOrderDetail != null">
        `youzan_order_detail`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="youzanOrderTid != null">
        #{youzanOrderTid,jdbcType=VARCHAR},
      </if>
      <if test="youzanOrderDetail != null">
        #{youzanOrderDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    update `tab_r_order_pay_youzan_order_exchange`
    <set>
      <if test="orderNo != null">
        `order_no` = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="youzanOrderTid != null">
        `youzan_order_tid` = #{youzanOrderTid,jdbcType=VARCHAR},
      </if>
      <if test="youzanOrderDetail != null">
        `youzan_order_detail` = #{youzanOrderDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    update `tab_r_order_pay_youzan_order_exchange`
    set `order_no` = #{orderNo,jdbcType=VARCHAR},
      `youzan_order_tid` = #{youzanOrderTid,jdbcType=VARCHAR},
      `youzan_order_detail` = #{youzanOrderDetail,jdbcType=LONGVARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Orderpayyouzanorderexchange">
    update `tab_r_order_pay_youzan_order_exchange`
    set `order_no` = #{orderNo,jdbcType=VARCHAR},
      `youzan_order_tid` = #{youzanOrderTid,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>