<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.OssbucketresourceMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ossbucketresource">
    <id column="seq_id" jdbcType="BIGINT" property="seqId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="purpose_key" jdbcType="VARCHAR" property="purposeKey" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `user_id`, `purpose_key`, `file_key`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_oss_bucket_resource`
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ossbucketresource">
    insert into `tab_oss_bucket_resource` (`seq_id`, `user_id`, `purpose_key`, 
      `file_key`)
    values (#{seqId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{purposeKey,jdbcType=VARCHAR}, 
      #{fileKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ossbucketresource">
    insert into `tab_oss_bucket_resource`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="purposeKey != null">
        `purpose_key`,
      </if>
      <if test="fileKey != null">
        `file_key`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="purposeKey != null">
        #{purposeKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null">
        #{fileKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ossbucketresource">
    update `tab_oss_bucket_resource`
    <set>
      <if test="userId != null">
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="purposeKey != null">
        `purpose_key` = #{purposeKey,jdbcType=VARCHAR},
      </if>
      <if test="fileKey != null">
        `file_key` = #{fileKey,jdbcType=VARCHAR},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Ossbucketresource">
    update `tab_oss_bucket_resource`
    set `user_id` = #{userId,jdbcType=INTEGER},
      `purpose_key` = #{purposeKey,jdbcType=VARCHAR},
      `file_key` = #{fileKey,jdbcType=VARCHAR}
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>