<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.PopupstrategyMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Popupstrategy">
    <id column="seq_id" jdbcType="BIGINT" property="seqId" />
    <result column="popup_id" jdbcType="INTEGER" property="popupId" />
    <result column="strategy_type" jdbcType="TINYINT" property="strategyType" />
    <result column="strategy_value" jdbcType="VARCHAR" property="strategyValue" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `popup_id`, `strategy_type`, `strategy_value`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_popup_strategy`
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Popupstrategy">
    insert into `tab_popup_strategy` (`seq_id`, `popup_id`, `strategy_type`, 
      `strategy_value`)
    values (#{seqId,jdbcType=BIGINT}, #{popupId,jdbcType=INTEGER}, #{strategyType,jdbcType=TINYINT}, 
      #{strategyValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Popupstrategy">
    insert into `tab_popup_strategy`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="popupId != null">
        `popup_id`,
      </if>
      <if test="strategyType != null">
        `strategy_type`,
      </if>
      <if test="strategyValue != null">
        `strategy_value`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="popupId != null">
        #{popupId,jdbcType=INTEGER},
      </if>
      <if test="strategyType != null">
        #{strategyType,jdbcType=TINYINT},
      </if>
      <if test="strategyValue != null">
        #{strategyValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Popupstrategy">
    update `tab_popup_strategy`
    <set>
      <if test="popupId != null">
        `popup_id` = #{popupId,jdbcType=INTEGER},
      </if>
      <if test="strategyType != null">
        `strategy_type` = #{strategyType,jdbcType=TINYINT},
      </if>
      <if test="strategyValue != null">
        `strategy_value` = #{strategyValue,jdbcType=VARCHAR},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Popupstrategy">
    update `tab_popup_strategy`
    set `popup_id` = #{popupId,jdbcType=INTEGER},
      `strategy_type` = #{strategyType,jdbcType=TINYINT},
      `strategy_value` = #{strategyValue,jdbcType=VARCHAR}
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>