<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ProductpointsgiftskuMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productpointsgiftsku">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="original_points" jdbcType="INTEGER" property="originalPoints" />
    <result column="current_points" jdbcType="INTEGER" property="currentPoints" />
    <result column="entrance_image" jdbcType="VARCHAR" property="entranceImage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `key`, `name`, `product_id`, `original_points`, `current_points`, `entrance_image`, 
    `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_product_points_gift_sku`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productpointsgiftsku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_product_points_gift_sku` (`key`, `name`, `product_id`, 
      `original_points`, `current_points`, `entrance_image`
      )
    values (#{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{originalPoints,jdbcType=INTEGER}, #{currentPoints,jdbcType=INTEGER}, #{entranceImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productpointsgiftsku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_product_points_gift_sku`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `key`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="productId != null">
        `product_id`,
      </if>
      <if test="originalPoints != null">
        `original_points`,
      </if>
      <if test="currentPoints != null">
        `current_points`,
      </if>
      <if test="entranceImage != null">
        `entrance_image`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="originalPoints != null">
        #{originalPoints,jdbcType=INTEGER},
      </if>
      <if test="currentPoints != null">
        #{currentPoints,jdbcType=INTEGER},
      </if>
      <if test="entranceImage != null">
        #{entranceImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productpointsgiftsku">
    update `tab_product_points_gift_sku`
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        `product_id` = #{productId,jdbcType=INTEGER},
      </if>
      <if test="originalPoints != null">
        `original_points` = #{originalPoints,jdbcType=INTEGER},
      </if>
      <if test="currentPoints != null">
        `current_points` = #{currentPoints,jdbcType=INTEGER},
      </if>
      <if test="entranceImage != null">
        `entrance_image` = #{entranceImage,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productpointsgiftsku">
    update `tab_product_points_gift_sku`
    set `key` = #{key,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `product_id` = #{productId,jdbcType=INTEGER},
      `original_points` = #{originalPoints,jdbcType=INTEGER},
      `current_points` = #{currentPoints,jdbcType=INTEGER},
      `entrance_image` = #{entranceImage,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>