<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ProductcourseskuMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productcoursesku">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="express_key" jdbcType="VARCHAR" property="expressKey" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="original_price" jdbcType="INTEGER" property="originalPrice" />
    <result column="current_price" jdbcType="INTEGER" property="currentPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `key`, `express_key`, `name`, `product_id`, `original_price`, `current_price`, 
    `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_product_course_sku`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productcoursesku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_product_course_sku` (`key`, `express_key`, `name`, 
      `product_id`, `original_price`, `current_price`
      )
    values (#{key,jdbcType=VARCHAR}, #{expressKey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{productId,jdbcType=INTEGER}, #{originalPrice,jdbcType=INTEGER}, #{currentPrice,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productcoursesku">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_product_course_sku`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `key`,
      </if>
      <if test="expressKey != null">
        `express_key`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="productId != null">
        `product_id`,
      </if>
      <if test="originalPrice != null">
        `original_price`,
      </if>
      <if test="currentPrice != null">
        `current_price`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="expressKey != null">
        #{expressKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=INTEGER},
      </if>
      <if test="currentPrice != null">
        #{currentPrice,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productcoursesku">
    update `tab_product_course_sku`
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="expressKey != null">
        `express_key` = #{expressKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        `product_id` = #{productId,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null">
        `original_price` = #{originalPrice,jdbcType=INTEGER},
      </if>
      <if test="currentPrice != null">
        `current_price` = #{currentPrice,jdbcType=INTEGER},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Productcoursesku">
    update `tab_product_course_sku`
    set `key` = #{key,jdbcType=VARCHAR},
      `express_key` = #{expressKey,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      `product_id` = #{productId,jdbcType=INTEGER},
      `original_price` = #{originalPrice,jdbcType=INTEGER},
      `current_price` = #{currentPrice,jdbcType=INTEGER}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>