<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.PushcouponmessageMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Pushcouponmessage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="push_type" jdbcType="TINYINT" property="pushType" />
    <result column="push_sub_type" jdbcType="TINYINT" property="pushSubType" />
    <result column="push_target_id" jdbcType="VARCHAR" property="pushTargetId" />
    <result column="push_batch_id" jdbcType="VARCHAR" property="pushBatchId" />
    <result column="mq_provider_id" jdbcType="TINYINT" property="mqProviderId" />
    <result column="mq_message_id" jdbcType="VARCHAR" property="mqMessageId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="coupon_provider" jdbcType="TINYINT" property="couponProvider" />
    <result column="coupon_mch_id" jdbcType="VARCHAR" property="couponMchId" />
    <result column="coupon_stock_id" jdbcType="VARCHAR" property="couponStockId" />
    <result column="coupon_count" jdbcType="TINYINT" property="couponCount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `push_type`, `push_sub_type`, `push_target_id`, `push_batch_id`, `mq_provider_id`, 
    `mq_message_id`, `user_id`, `coupon_provider`, `coupon_mch_id`, `coupon_stock_id`, 
    `coupon_count`, `remark`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_push_coupon_message`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Pushcouponmessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_push_coupon_message` (`push_type`, `push_sub_type`, `push_target_id`, 
      `push_batch_id`, `mq_provider_id`, `mq_message_id`, 
      `user_id`, `coupon_provider`, `coupon_mch_id`, 
      `coupon_stock_id`, `coupon_count`, `remark`
      )
    values (#{pushType,jdbcType=TINYINT}, #{pushSubType,jdbcType=TINYINT}, #{pushTargetId,jdbcType=VARCHAR}, 
      #{pushBatchId,jdbcType=VARCHAR}, #{mqProviderId,jdbcType=TINYINT}, #{mqMessageId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{couponProvider,jdbcType=TINYINT}, #{couponMchId,jdbcType=VARCHAR}, 
      #{couponStockId,jdbcType=VARCHAR}, #{couponCount,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Pushcouponmessage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_push_coupon_message`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pushType != null">
        `push_type`,
      </if>
      <if test="pushSubType != null">
        `push_sub_type`,
      </if>
      <if test="pushTargetId != null">
        `push_target_id`,
      </if>
      <if test="pushBatchId != null">
        `push_batch_id`,
      </if>
      <if test="mqProviderId != null">
        `mq_provider_id`,
      </if>
      <if test="mqMessageId != null">
        `mq_message_id`,
      </if>
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="couponProvider != null">
        `coupon_provider`,
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id`,
      </if>
      <if test="couponStockId != null">
        `coupon_stock_id`,
      </if>
      <if test="couponCount != null">
        `coupon_count`,
      </if>
      <if test="remark != null">
        `remark`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pushType != null">
        #{pushType,jdbcType=TINYINT},
      </if>
      <if test="pushSubType != null">
        #{pushSubType,jdbcType=TINYINT},
      </if>
      <if test="pushTargetId != null">
        #{pushTargetId,jdbcType=VARCHAR},
      </if>
      <if test="pushBatchId != null">
        #{pushBatchId,jdbcType=VARCHAR},
      </if>
      <if test="mqProviderId != null">
        #{mqProviderId,jdbcType=TINYINT},
      </if>
      <if test="mqMessageId != null">
        #{mqMessageId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponProvider != null">
        #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponStockId != null">
        #{couponStockId,jdbcType=VARCHAR},
      </if>
      <if test="couponCount != null">
        #{couponCount,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Pushcouponmessage">
    update `tab_push_coupon_message`
    <set>
      <if test="pushType != null">
        `push_type` = #{pushType,jdbcType=TINYINT},
      </if>
      <if test="pushSubType != null">
        `push_sub_type` = #{pushSubType,jdbcType=TINYINT},
      </if>
      <if test="pushTargetId != null">
        `push_target_id` = #{pushTargetId,jdbcType=VARCHAR},
      </if>
      <if test="pushBatchId != null">
        `push_batch_id` = #{pushBatchId,jdbcType=VARCHAR},
      </if>
      <if test="mqProviderId != null">
        `mq_provider_id` = #{mqProviderId,jdbcType=TINYINT},
      </if>
      <if test="mqMessageId != null">
        `mq_message_id` = #{mqMessageId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="couponProvider != null">
        `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      </if>
      <if test="couponMchId != null">
        `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      </if>
      <if test="couponStockId != null">
        `coupon_stock_id` = #{couponStockId,jdbcType=VARCHAR},
      </if>
      <if test="couponCount != null">
        `coupon_count` = #{couponCount,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        `remark` = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Pushcouponmessage">
    update `tab_push_coupon_message`
    set `push_type` = #{pushType,jdbcType=TINYINT},
      `push_sub_type` = #{pushSubType,jdbcType=TINYINT},
      `push_target_id` = #{pushTargetId,jdbcType=VARCHAR},
      `push_batch_id` = #{pushBatchId,jdbcType=VARCHAR},
      `mq_provider_id` = #{mqProviderId,jdbcType=TINYINT},
      `mq_message_id` = #{mqMessageId,jdbcType=VARCHAR},
      `user_id` = #{userId,jdbcType=INTEGER},
      `coupon_provider` = #{couponProvider,jdbcType=TINYINT},
      `coupon_mch_id` = #{couponMchId,jdbcType=VARCHAR},
      `coupon_stock_id` = #{couponStockId,jdbcType=VARCHAR},
      `coupon_count` = #{couponCount,jdbcType=TINYINT},
      `remark` = #{remark,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>