<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.ShorturlMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Shorturl">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="original_url" jdbcType="VARCHAR" property="originalUrl" />
    <result column="short_url" jdbcType="VARCHAR" property="shortUrl" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `original_url`, `short_url`, `type`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_short_url`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Shorturl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_short_url` (`original_url`, `short_url`, `type`
      )
    values (#{originalUrl,jdbcType=VARCHAR}, #{shortUrl,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Shorturl">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_short_url`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="originalUrl != null">
        `original_url`,
      </if>
      <if test="shortUrl != null">
        `short_url`,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="originalUrl != null">
        #{originalUrl,jdbcType=VARCHAR},
      </if>
      <if test="shortUrl != null">
        #{shortUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Shorturl">
    update `tab_short_url`
    <set>
      <if test="originalUrl != null">
        `original_url` = #{originalUrl,jdbcType=VARCHAR},
      </if>
      <if test="shortUrl != null">
        `short_url` = #{shortUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Shorturl">
    update `tab_short_url`
    set `original_url` = #{originalUrl,jdbcType=VARCHAR},
      `short_url` = #{shortUrl,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=TINYINT}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>