<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.UserlessonscoreMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userlessonscore">
    <id column="seq_id" jdbcType="BIGINT" property="seqId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="lesson_id" jdbcType="INTEGER" property="lessonId" />
    <result column="step_type" jdbcType="TINYINT" property="stepType" />
    <result column="step_id" jdbcType="TINYINT" property="stepId" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `user_id`, `class_id`, `lesson_id`, `step_type`, `step_id`, `batch_id`, 
    `score`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_user_lesson_score`
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userlessonscore">
    insert into `tab_user_lesson_score` (`seq_id`, `user_id`, `class_id`, 
      `lesson_id`, `step_type`, `step_id`, 
      `batch_id`, `score`)
    values (#{seqId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, 
      #{lessonId,jdbcType=INTEGER}, #{stepType,jdbcType=TINYINT}, #{stepId,jdbcType=TINYINT}, 
      #{batchId,jdbcType=VARCHAR}, #{score,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userlessonscore">
    insert into `tab_user_lesson_score`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="classId != null">
        `class_id`,
      </if>
      <if test="lessonId != null">
        `lesson_id`,
      </if>
      <if test="stepType != null">
        `step_type`,
      </if>
      <if test="stepId != null">
        `step_id`,
      </if>
      <if test="batchId != null">
        `batch_id`,
      </if>
      <if test="score != null">
        `score`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="stepType != null">
        #{stepType,jdbcType=TINYINT},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=TINYINT},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userlessonscore">
    update `tab_user_lesson_score`
    <set>
      <if test="userId != null">
        `user_id` = #{userId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        `class_id` = #{classId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        `lesson_id` = #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="stepType != null">
        `step_type` = #{stepType,jdbcType=TINYINT},
      </if>
      <if test="stepId != null">
        `step_id` = #{stepId,jdbcType=TINYINT},
      </if>
      <if test="batchId != null">
        `batch_id` = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        `score` = #{score,jdbcType=TINYINT},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userlessonscore">
    update `tab_user_lesson_score`
    set `user_id` = #{userId,jdbcType=INTEGER},
      `class_id` = #{classId,jdbcType=INTEGER},
      `lesson_id` = #{lessonId,jdbcType=INTEGER},
      `step_type` = #{stepType,jdbcType=TINYINT},
      `step_id` = #{stepId,jdbcType=TINYINT},
      `batch_id` = #{batchId,jdbcType=VARCHAR},
      `score` = #{score,jdbcType=TINYINT}
    where `seq_id` = #{seqId,jdbcType=BIGINT}
  </update>
</mapper>