<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.UserclasslogMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userclasslog">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="user_class_id" jdbcType="INTEGER" property="userClassId" />
    <result column="unlock_type" jdbcType="TINYINT" property="unlockType" />
    <result column="unlock_status" jdbcType="TINYINT" property="unlockStatus" />
    <result column="action_type" jdbcType="TINYINT" property="actionType" />
    <result column="action_target_id" jdbcType="VARCHAR" property="actionTargetId" />
    <result column="action_remark" jdbcType="VARCHAR" property="actionRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `user_class_id`, `unlock_type`, `unlock_status`, `action_type`, `action_target_id`, 
    `action_remark`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_user_class_log`
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userclasslog">
    insert into `tab_user_class_log` (`seq_id`, `user_class_id`, `unlock_type`, 
      `unlock_status`, `action_type`, `action_target_id`, 
      `action_remark`)
    values (#{seqId,jdbcType=INTEGER}, #{userClassId,jdbcType=INTEGER}, #{unlockType,jdbcType=TINYINT}, 
      #{unlockStatus,jdbcType=TINYINT}, #{actionType,jdbcType=TINYINT}, #{actionTargetId,jdbcType=VARCHAR}, 
      #{actionRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userclasslog">
    insert into `tab_user_class_log`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="userClassId != null">
        `user_class_id`,
      </if>
      <if test="unlockType != null">
        `unlock_type`,
      </if>
      <if test="unlockStatus != null">
        `unlock_status`,
      </if>
      <if test="actionType != null">
        `action_type`,
      </if>
      <if test="actionTargetId != null">
        `action_target_id`,
      </if>
      <if test="actionRemark != null">
        `action_remark`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=INTEGER},
      </if>
      <if test="userClassId != null">
        #{userClassId,jdbcType=INTEGER},
      </if>
      <if test="unlockType != null">
        #{unlockType,jdbcType=TINYINT},
      </if>
      <if test="unlockStatus != null">
        #{unlockStatus,jdbcType=TINYINT},
      </if>
      <if test="actionType != null">
        #{actionType,jdbcType=TINYINT},
      </if>
      <if test="actionTargetId != null">
        #{actionTargetId,jdbcType=VARCHAR},
      </if>
      <if test="actionRemark != null">
        #{actionRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userclasslog">
    update `tab_user_class_log`
    <set>
      <if test="userClassId != null">
        `user_class_id` = #{userClassId,jdbcType=INTEGER},
      </if>
      <if test="unlockType != null">
        `unlock_type` = #{unlockType,jdbcType=TINYINT},
      </if>
      <if test="unlockStatus != null">
        `unlock_status` = #{unlockStatus,jdbcType=TINYINT},
      </if>
      <if test="actionType != null">
        `action_type` = #{actionType,jdbcType=TINYINT},
      </if>
      <if test="actionTargetId != null">
        `action_target_id` = #{actionTargetId,jdbcType=VARCHAR},
      </if>
      <if test="actionRemark != null">
        `action_remark` = #{actionRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Userclasslog">
    update `tab_user_class_log`
    set `user_class_id` = #{userClassId,jdbcType=INTEGER},
      `unlock_type` = #{unlockType,jdbcType=TINYINT},
      `unlock_status` = #{unlockStatus,jdbcType=TINYINT},
      `action_type` = #{actionType,jdbcType=TINYINT},
      `action_target_id` = #{actionTargetId,jdbcType=VARCHAR},
      `action_remark` = #{actionRemark,jdbcType=VARCHAR}
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>