<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.UsercheckinreadingdataMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usercheckinreadingdata">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="checkin_id" jdbcType="INTEGER" property="checkinId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upate_time" jdbcType="TIMESTAMP" property="upateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `checkin_id`, `type`, `data`, `create_time`, `upate_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_user_checkin_reading_data`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usercheckinreadingdata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_user_checkin_reading_data` (`checkin_id`, `type`, `data`, 
      `upate_time`)
    values (#{checkinId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{data,jdbcType=VARCHAR}, 
      #{upateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usercheckinreadingdata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_user_checkin_reading_data`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkinId != null">
        `checkin_id`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="data != null">
        `data`,
      </if>
      <if test="upateTime != null">
        `upate_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkinId != null">
        #{checkinId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="upateTime != null">
        #{upateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usercheckinreadingdata">
    update `tab_user_checkin_reading_data`
    <set>
      <if test="checkinId != null">
        `checkin_id` = #{checkinId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="data != null">
        `data` = #{data,jdbcType=VARCHAR},
      </if>
      <if test="upateTime != null">
        `upate_time` = #{upateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usercheckinreadingdata">
    update `tab_user_checkin_reading_data`
    set `checkin_id` = #{checkinId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      `data` = #{data,jdbcType=VARCHAR},
      `upate_time` = #{upateTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>