<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.UsersubaccountMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usersubaccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="master_user_id" jdbcType="INTEGER" property="masterUserId" />
    <result column="sub_user_id" jdbcType="INTEGER" property="subUserId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `master_user_id`, `sub_user_id`, `status`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_user_sub_account`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usersubaccount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_user_sub_account` (`master_user_id`, `sub_user_id`, `status`
      )
    values (#{masterUserId,jdbcType=INTEGER}, #{subUserId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usersubaccount">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_user_sub_account`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="masterUserId != null">
        `master_user_id`,
      </if>
      <if test="subUserId != null">
        `sub_user_id`,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="masterUserId != null">
        #{masterUserId,jdbcType=INTEGER},
      </if>
      <if test="subUserId != null">
        #{subUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usersubaccount">
    update `tab_user_sub_account`
    <set>
      <if test="masterUserId != null">
        `master_user_id` = #{masterUserId,jdbcType=INTEGER},
      </if>
      <if test="subUserId != null">
        `sub_user_id` = #{subUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Usersubaccount">
    update `tab_user_sub_account`
    set `master_user_id` = #{masterUserId,jdbcType=INTEGER},
      `sub_user_id` = #{subUserId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=TINYINT}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>