<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.WechatvisitorMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatvisitor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wechat_app_id" jdbcType="VARCHAR" property="wechatAppId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="wechat_open_uid" jdbcType="VARCHAR" property="wechatOpenUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `wechat_app_id`, `open_id`, `wechat_open_uid`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_visitor`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatvisitor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_visitor` (`wechat_app_id`, `open_id`, `wechat_open_uid`
      )
    values (#{wechatAppId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{wechatOpenUid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatvisitor">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_visitor`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechatAppId != null">
        `wechat_app_id`,
      </if>
      <if test="openId != null">
        `open_id`,
      </if>
      <if test="wechatOpenUid != null">
        `wechat_open_uid`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechatAppId != null">
        #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenUid != null">
        #{wechatOpenUid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatvisitor">
    update `tab_wechat_visitor`
    <set>
      <if test="wechatAppId != null">
        `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        `open_id` = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="wechatOpenUid != null">
        `wechat_open_uid` = #{wechatOpenUid,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatvisitor">
    update `tab_wechat_visitor`
    set `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      `open_id` = #{openId,jdbcType=VARCHAR},
      `wechat_open_uid` = #{wechatOpenUid,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>