<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.WechatinfoMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatinfo">
    <id column="seq_id" jdbcType="INTEGER" property="seqId" />
    <result column="wechat_app_name" jdbcType="VARCHAR" property="wechatAppName" />
    <result column="wechat_app_id" jdbcType="VARCHAR" property="wechatAppId" />
    <result column="wechat_secret" jdbcType="VARCHAR" property="wechatSecret" />
    <result column="wechat_app_type" jdbcType="TINYINT" property="wechatAppType" />
    <result column="wechat_default_mp_flag" jdbcType="TINYINT" property="wechatDefaultMpFlag" />
    <result column="wechat_raw_id" jdbcType="VARCHAR" property="wechatRawId" />
  </resultMap>
  <sql id="Base_Column_List">
    `seq_id`, `wechat_app_name`, `wechat_app_id`, `wechat_secret`, `wechat_app_type`, 
    `wechat_default_mp_flag`, `wechat_raw_id`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_info`
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatinfo">
    insert into `tab_wechat_info` (`seq_id`, `wechat_app_name`, `wechat_app_id`, 
      `wechat_secret`, `wechat_app_type`, `wechat_default_mp_flag`, 
      `wechat_raw_id`)
    values (#{seqId,jdbcType=INTEGER}, #{wechatAppName,jdbcType=VARCHAR}, #{wechatAppId,jdbcType=VARCHAR}, 
      #{wechatSecret,jdbcType=VARCHAR}, #{wechatAppType,jdbcType=TINYINT}, #{wechatDefaultMpFlag,jdbcType=TINYINT}, 
      #{wechatRawId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatinfo">
    insert into `tab_wechat_info`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        `seq_id`,
      </if>
      <if test="wechatAppName != null">
        `wechat_app_name`,
      </if>
      <if test="wechatAppId != null">
        `wechat_app_id`,
      </if>
      <if test="wechatSecret != null">
        `wechat_secret`,
      </if>
      <if test="wechatAppType != null">
        `wechat_app_type`,
      </if>
      <if test="wechatDefaultMpFlag != null">
        `wechat_default_mp_flag`,
      </if>
      <if test="wechatRawId != null">
        `wechat_raw_id`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqId != null">
        #{seqId,jdbcType=INTEGER},
      </if>
      <if test="wechatAppName != null">
        #{wechatAppName,jdbcType=VARCHAR},
      </if>
      <if test="wechatAppId != null">
        #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="wechatSecret != null">
        #{wechatSecret,jdbcType=VARCHAR},
      </if>
      <if test="wechatAppType != null">
        #{wechatAppType,jdbcType=TINYINT},
      </if>
      <if test="wechatDefaultMpFlag != null">
        #{wechatDefaultMpFlag,jdbcType=TINYINT},
      </if>
      <if test="wechatRawId != null">
        #{wechatRawId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatinfo">
    update `tab_wechat_info`
    <set>
      <if test="wechatAppName != null">
        `wechat_app_name` = #{wechatAppName,jdbcType=VARCHAR},
      </if>
      <if test="wechatAppId != null">
        `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="wechatSecret != null">
        `wechat_secret` = #{wechatSecret,jdbcType=VARCHAR},
      </if>
      <if test="wechatAppType != null">
        `wechat_app_type` = #{wechatAppType,jdbcType=TINYINT},
      </if>
      <if test="wechatDefaultMpFlag != null">
        `wechat_default_mp_flag` = #{wechatDefaultMpFlag,jdbcType=TINYINT},
      </if>
      <if test="wechatRawId != null">
        `wechat_raw_id` = #{wechatRawId,jdbcType=VARCHAR},
      </if>
    </set>
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatinfo">
    update `tab_wechat_info`
    set `wechat_app_name` = #{wechatAppName,jdbcType=VARCHAR},
      `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      `wechat_secret` = #{wechatSecret,jdbcType=VARCHAR},
      `wechat_app_type` = #{wechatAppType,jdbcType=TINYINT},
      `wechat_default_mp_flag` = #{wechatDefaultMpFlag,jdbcType=TINYINT},
      `wechat_raw_id` = #{wechatRawId,jdbcType=VARCHAR}
    where `seq_id` = #{seqId,jdbcType=INTEGER}
  </update>
</mapper>