<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.WechatuseropeninfoMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatuseropeninfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wechat_app_id" jdbcType="VARCHAR" property="wechatAppId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `wechat_app_id`, `openid`, `unionid`, `nickname`, `avatar_url`, `create_time`, 
    `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_user_openinfo`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatuseropeninfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_user_openinfo` (`wechat_app_id`, `openid`, `unionid`, 
      `nickname`, `avatar_url`)
    values (#{wechatAppId,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{unionid,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatuseropeninfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_user_openinfo`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechatAppId != null">
        `wechat_app_id`,
      </if>
      <if test="openid != null">
        `openid`,
      </if>
      <if test="unionid != null">
        `unionid`,
      </if>
      <if test="nickname != null">
        `nickname`,
      </if>
      <if test="avatarUrl != null">
        `avatar_url`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechatAppId != null">
        #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatuseropeninfo">
    update `tab_wechat_user_openinfo`
    <set>
      <if test="wechatAppId != null">
        `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        `openid` = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        `unionid` = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        `nickname` = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        `avatar_url` = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatuseropeninfo">
    update `tab_wechat_user_openinfo`
    set `wechat_app_id` = #{wechatAppId,jdbcType=VARCHAR},
      `openid` = #{openid,jdbcType=VARCHAR},
      `unionid` = #{unionid,jdbcType=VARCHAR},
      `nickname` = #{nickname,jdbcType=VARCHAR},
      `avatar_url` = #{avatarUrl,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>