<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.WechatmpmsgMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="to_wechat_app_id" jdbcType="VARCHAR" property="toWechatAppId" />
    <result column="from_wechat_open_id" jdbcType="VARCHAR" property="fromWechatOpenId" />
    <result column="msg_type" jdbcType="TINYINT" property="msgType" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `to_wechat_app_id`, `from_wechat_open_id`, `msg_type`, `data_id`, `create_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_mp_msg`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_mp_msg` (`to_wechat_app_id`, `from_wechat_open_id`, 
      `msg_type`, `data_id`)
    values (#{toWechatAppId,jdbcType=VARCHAR}, #{fromWechatOpenId,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=TINYINT}, #{dataId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsg">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_mp_msg`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="toWechatAppId != null">
        `to_wechat_app_id`,
      </if>
      <if test="fromWechatOpenId != null">
        `from_wechat_open_id`,
      </if>
      <if test="msgType != null">
        `msg_type`,
      </if>
      <if test="dataId != null">
        `data_id`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="toWechatAppId != null">
        #{toWechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="fromWechatOpenId != null">
        #{fromWechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=TINYINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsg">
    update `tab_wechat_mp_msg`
    <set>
      <if test="toWechatAppId != null">
        `to_wechat_app_id` = #{toWechatAppId,jdbcType=VARCHAR},
      </if>
      <if test="fromWechatOpenId != null">
        `from_wechat_open_id` = #{fromWechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null">
        `msg_type` = #{msgType,jdbcType=TINYINT},
      </if>
      <if test="dataId != null">
        `data_id` = #{dataId,jdbcType=BIGINT},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsg">
    update `tab_wechat_mp_msg`
    set `to_wechat_app_id` = #{toWechatAppId,jdbcType=VARCHAR},
      `from_wechat_open_id` = #{fromWechatOpenId,jdbcType=VARCHAR},
      `msg_type` = #{msgType,jdbcType=TINYINT},
      `data_id` = #{dataId,jdbcType=BIGINT}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>