<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsj.os_frameworks_learning.os_frameworks.mybatis.dao.WechatmpmsgvoiceMapper">
  <resultMap id="BaseResultMap" type="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsgvoice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
    <result column="format" jdbcType="VARCHAR" property="format" />
    <result column="recognition" jdbcType="VARCHAR" property="recognition" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `msg_id`, `format`, `recognition`, `media_id`, `create_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tab_wechat_mp_msg_voice`
    where `id` = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsgvoice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_mp_msg_voice` (`msg_id`, `format`, `recognition`, 
      `media_id`)
    values (#{msgId,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, #{recognition,jdbcType=VARCHAR}, 
      #{mediaId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsgvoice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `tab_wechat_mp_msg_voice`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        `msg_id`,
      </if>
      <if test="format != null">
        `format`,
      </if>
      <if test="recognition != null">
        `recognition`,
      </if>
      <if test="mediaId != null">
        `media_id`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="msgId != null">
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="recognition != null">
        #{recognition,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        #{mediaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsgvoice">
    update `tab_wechat_mp_msg_voice`
    <set>
      <if test="msgId != null">
        `msg_id` = #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        `format` = #{format,jdbcType=VARCHAR},
      </if>
      <if test="recognition != null">
        `recognition` = #{recognition,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null">
        `media_id` = #{mediaId,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsj.os_frameworks_learning.os_frameworks.mybatis.model.Wechatmpmsgvoice">
    update `tab_wechat_mp_msg_voice`
    set `msg_id` = #{msgId,jdbcType=VARCHAR},
      `format` = #{format,jdbcType=VARCHAR},
      `recognition` = #{recognition,jdbcType=VARCHAR},
      `media_id` = #{mediaId,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>