<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <classPathEntry location="libs/mysql-connector-java-5.1.28.jar"/>

    <context id="MybatisTest" targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="utf-8"/>
        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!-- 常用插件 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>

        <!-- 为了防止生成的代码中有很多注释，比较难看，加入下面的配置控制 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/wechat_manage"
                        userId="root" password="test"/>
        <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer true，把JDBC DECIMAL 和 NUMERIC 类型解析为java.math.BigDecimal -->
        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 数据库对应的model层 -->
        <javaModelGenerator targetPackage="cn.tinman.sharedservices.wms.provider.model.po"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- sql mapper映射文件 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- mapper接口 -->
        <javaClientGenerator targetPackage="cn.tinman.sharedservices.wms.provider.dao" type="XMLMAPPER"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 通用配置 -->
        <table tableName="tab_%"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"
               delimitIdentifiers="true"
               delimitAllColumns="true"
               enableDeleteByPrimaryKey="false"
        >
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <!--<generatedKey column="id" sqlStatement="Mysql" />-->
            <!--去掉统一的前缀，注意是生产后的文件名前缀，不是表的前缀，改功能在1.3.6的版本中才能使用，低于此版本无法使用-->
            <domainObjectRenamingRule searchString="(^(TabR)|(Tab))" replaceString=""/>
            <columnRenamingRule searchString="(^(tab_r_)|(tab_))" replaceString=""/>
            <!-- 参照 https://github.com/mybatis/generator/issues/104 -->
            <columnOverride column="create_time" isGeneratedAlways="true"/>
            <columnOverride column="update_time" isGeneratedAlways="true"/>
        </table>

        <!-- 特殊配置 
        <table tableName="tab_user_lesson_answer" domainObjectName="UserLessonAnswer">
            <generatedKey column="seq_id" sqlStatement="MySql" identity="true"/>
        </table>-->

    </context>
</generatorConfiguration>